.wrapper{
    display:flex;
    flex-flow: row wrap;
    align-items: flex-start;
    
}
img.rounded-corners {

    border-radius: 30px;
}
.main{
    border: 2px dotted black;
    width:100%;
  
}
.super{
    display: flex;
    width: 100%;
    justify-content: flex-start;
}





@media screen and (max-width:600px)
{
 .super{width:100%;
 display:flex;
  align-items: center;
        justify-content: center;
        flex-direction:column;
        align-content: center;}
 
 main{
     display:flex;
    }
           
 }
 .wrapper{
     display:flex;
     
 }
 @media screen and (max-width:489px){
     .super{
         width:489px;
     }
 }

/* 
header{
    border: 1px dashed cyan;
}


img.rounded-corners {

    border-radius: 30px;
}
#container{
    display: flex;
    flex-wrap: row wrap;
    width:960px;
    margin:0px auto;
}
#left-column{
    width:330px;
    float:left;
}
#right-column{
    width:330px;
    float:right;
}



@media screen and (max-width:959px){
    #container{
        display:flex;
        flex-direction: column;
        width: 100%;
    }
    #left-column{
        width: 50%;
    }
    #right-column{
        width: 50%;
    }
    header{
        width:100%;
    }


}
@media screen and (max-width:640px){
    #left-column{
        width: 100%;
    }
    #right-column{
        width: 100%;
    }

} */
















